body {
	background-color: rgb(255, 255, 255);
	overflow-x: hidden;
}

progress {
	-webkit-appearance: none;
	appearance: none;
	position: fixed;
	top: 0;
	left: 0;
	transform: translate(calc(-50% + 3px), calc(50vh - 50%)) rotate(90deg);
	width: 100vh;
	height: 6px;
}

progress::-webkit-progress-bar {
	background-color: #ffffff;
}

progress[value="100"]::-webkit-progress-bar {
	background-color: black;
}

progress::-webkit-progress-value {
	background-color: black;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}
.hamburger {
	display: flex;
	flex-direction: column;
	color: black;
	font-size: 50px;
	filter: contrast(200%);
	outline: none;
	border: none;
	transition: 0.5s;
}
.hamburger:focus {
	outline: none;
	transform: rotate(-90deg);
	transition: 0.5s;
}
.navbar {
	background-color: rgba(255, 0, 0, 0) !important;
}
.ExhibitionsHeader {
	position: relative;
	line-height: 110px;
	width: 70%;
	font-size: 140px;
	font-weight: 900;
	font-family: "Archivo Black", sans-serif;
}
.clothesHeader {
	top: 80px;
	z-index: 5;
}
.clothesText {
	position: relative;
	/* right: 50px; */
	top: 80px;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
}
h4 {
	font-family: "Open Sans Condensed", sans-serif;
}
img {
	position: relative;
}
.balconyOne,
.resp {
	max-height: auto;
	width: 100%;
	object-fit: cover;
}
.balconyTwo {
	top: 260px;
	max-height: auto;
	width: 90%;
}
.balconyText {
	position: inherit;
	top: 160px;
}
p {
	font-size: 12px;
}
.nazimonRow {
	position: relative;
	top: 200px;
}
.nazimon {
	width: 150%;
	bottom: 50px;
}
.copyNazimon {
	position: relative;
	bottom: 50px;
}
.nazimonText {
	bottom: 270px;
	position: relative;
	left: 580px;
}
.nazimonHug {
	top: 50px;
	width: 110%;
}
.menuZonaText {
	bottom: 150px;
}
.menuTomas {
	position: relative;
	margin-top: -13px;
	z-index: 6;
}
.clothesSection {
	position: relative;
	top: 80px;
}
.teeOneCol {
	right: 110px;
}
.tshirt {
	top: 150px;
}
.tshirtTwo {
	top: 280px;
	left: 50px;
}
.textBoxFashion {
	color: white;
	position: relative;
	top: -300px;
	z-index: 9;
	padding: 10px;
	background-color: rgb(255, 82, 20);
}
.poncho {
	top: 270px;
	right: 90px;
	width: 120%;
}
.link {
	position: relative;
	top: 200px;
	left: 130px;
}
.dueLink {
	position: relative;
	top: 263px;
}
.jiggle {
	top: 70px;
	left: 80px;
	width: 5%;
}

path {
	transform-origin: 100% center;
}

@keyframes circlebig {
	from {
		transform: translate(5px, 5px) rotate(0deg) translate(-5px, -5px)
			rotate(0deg);
	}
	to {
		transform: translate(5px, 5px) rotate(360deg) translate(-5px, -5px)
			rotate(-360deg);
	}
}

@keyframes circlesmall {
	from {
		transform: translate(5px, 5px) rotate(0deg) translate(-5px, -5px)
			rotate(0deg);
	}
	to {
		transform: translate(5px, 5px) rotate(360deg) translate(-5px, -5px)
			rotate(-360deg);
	}
}
